<footer>
    <p data-pt="Fonte de dados: <a href='https://simba.petrobras.com.br' target='_blank'>SIMBA - Sistema de Monitoramento Ambiental Petrobras</a>" data-en="Data source: <a href='https://simba.petrobras.com.br' target='_blank'>SIMBA - Petrobras Environmental Monitoring System</a>">Fonte de dados: <a href="https://simba.petrobras.com.br" target="_blank">SIMBA - Sistema de Monitoramento Ambiental Petrobras</a></p>
    <p>Copyright © 2025 <a href="https://vignatti.com" target="_blank">Tiago Vignatti</a></p>
</footer>